.App {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.App.light {
  --background-color: white;
  --text-color: black;
}

.App.dark {
  --background-color: black;
  --text-color: white;
}